<!--<div class="main-content">
  <div class="base-form-content">
    <p-card header="Connect to Testing Tools">
      <table>
        <tr>
          <td><label for="ipaddress">IP Address: </label></td>
          <td><input pInputText id="ipaddress" [(ngModel)]="ipaddress"/></td>
        </tr>
        <tr>
          <td><label for="port">Port: </label></td>
          <td><input pInputText id="port" [(ngModel)]="port"/></td>
        </tr>
      </table>
      <div class="button-p-card">
        <p-button (click)="getConnection()" label="Connect"/>
      </div>
    </p-card>
  </div>
</div>-->

<div>
  <p-dialog header="Connect to FCBERT Test Engine" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="dialog-content">
      <div class="dialog-form-content">
        <table>
          <tr>
            <td><label for="ipaddress">IP Address: </label></td>
            <td><input pInputText id="ipaddress" [(ngModel)]="ipaddress"/></td>
          </tr>
          <tr>
            <td><label for="port">Port: </label></td>
            <td><input pInputText id="port" [(ngModel)]="port"/></td>
          </tr>
        </table>
        <div class="button-p-card">
          <p-button (click)="getConnection()" label="Connect"/>
        </div>
      </div>

      <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{ height: '6px' }"/>
      <p-message *ngIf="ifError" severity="error" variant="outlined">
        {{ errorMessage }}
      </p-message>
    </div>
  </p-dialog>
</div>


