/* app.component.css */
.landing-page {
  height: 100%;
}

.logo {
  height: 50px;
  width: 150px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 20px;
  background: #ffffff;
  /*background: var(--p-sky-400);*/
  color: #0b0f0e;
}

.header-status {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.main-content {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

.base-form-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3vh;
  padding: 10px;
}

.button-p-card {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
