<div class="landing-page">
  <p-megaMenu [model]="items" [style]="{ display: 'flex' }" styleClass="p-4 bg-surface-0 dark:bg-surface-900">
    <ng-template #start>
      <img ngSrc="assets/logo/Title-removebg.png" priority alt="EFCBert Logo" class="logo" height="50" width="150"/>
    </ng-template>
    <ng-template let-item>
      <a *ngIf="item.root" pRipple
        class="flex items-center cursor-pointer px-4 py-2 overflow-hidden relative font-semibold text-lg uppercase"
        style="border-radius: 2rem">
        <i [ngClass]="item.icon"></i>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #end>
      <app-server-status [connStatus]="connStatus"></app-server-status>
    </ng-template>
  </p-megaMenu>

  <div class="main-content">
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <div class="side-nav">
      <div class="time-box">
        <app-timer [eventStart]="trimerEvent"></app-timer>
      </div>
      <div class="nav-buttons">
        <p-button *ngIf="!suiteConn" label="Connect to test suite" (onClick)="openLoginDialog(true)" />
        <app-login-page [visible]="openLogin" (loginSuccess)="logingResponse($event)" (loginFailed)="openLoginDialog($event)"></app-login-page>
        <p-button *ngIf="suiteConn" [disabled]=testStarted [loading]=isLoading label="Start" icon="pi pi-forward"
          iconPos="left" (onClick)="startEvent()" />
        <p-button *ngIf="suiteConn" [disabled]="!suiteConn || !testStarted" [loading]="isLoading" label="Stop"
          icon="pi pi-stop" iconPos="left" (onClick)="stopEvent()" styleClass="p-button-danger" />
      </div>
    </div>
  </div>
</div>
