<div class="landing-page">
  <header class="header">
    <img src="assets/logo/Title-removebg.png" alt="EFCBert Logo" class="logo">
    <app-server-status [connStatus]="connStatus"></app-server-status>
  </header>

  <div class="main-content">

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <div class="side-nav">
      <!--<div class="side-nav-content">-->
        <p-card header="Time Elapsed" class="time-box">
          <p-divider/>
          <div>
            00:00:00
          </div>
        </p-card>


        <div class="nav-buttons">
          <p-button label="Start" icon="pi pi-forward" iconPos="top"/>

          <!--<p-button label="Search" icon="pi pi-search" iconPos="top"/>-->
        </div>
        <!--<i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>-->
      <!--</div>-->

    </div>
  </div>
</div>
