/* app.component.css */
.landing-page {
  height: 100%;
}

.logo {
  height: 50px;
  width: 150px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

.base-form-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.display-row{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 8vh)
}

.display-column{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.side-fixed{
  position: fixed;
}

.side-bar{
  position: fixed;
  top: 8vh; /* below header */
  right: 0;
  width: 15%; /* fixed width */
  height: calc(100vh - 8vh); /* match height under header */
  background: rgb(84, 84, 213);
  padding: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  background-color: rgb(89, 89, 236);
  margin-bottom: 2px;
  border-radius: 5px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3vh;
  padding: 10px;
}

.button-p-card {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.side_button{
  display: flex;
  flex-wrap:wrap;
  gap: 0.5em;
  padding-top: 10px;
}
