/* app.component.css */
.landing-page {
  height: 80vh;
}

.logo {
  height: 50px;
  width: 150px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 20px;
  background: #ffffff;
  /*background: var(--p-sky-400);*/
  color: #0b0f0e;
  border-bottom: 0.5px ridge #d1d5db;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 90vh;
  align-items: center;
}

.content {
  width: 85%;
  height: 90vh;
  padding: 20px;
  overflow-y: auto;
  margin-right: 1%;
}

.side-nav {
  width: 18%;
  height: 90vh;
  background:  #ffffff;
  padding: 20px;
  justify-content: space-around;
  border-left: 0.5px ridge #d1d5db;
  margin-left: 1%;
  position: absolute;
  right: 0;

}

.side-nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.nav-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  position: relative;
  top: 30%;/*
  left: 10%;
  right: 10%;*/

}

.base-form-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3vh;
  padding: 10px;
}

.button-p-card {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.time-box {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
