.main-content {
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  padding: 1%;
}

.small-table {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.base-form-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  align-items: baseline;
}

.form-input-fields {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1em;
}

.text-center {
  text-align: center;
}
