<div class="main-content">
  <div class="small-table">
    <p-table [value]="[standardResponse]">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">FC Rate</th>
          <th class="text-center">Frame Size</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td class="text-center">{{ row.fcRate }}</td>
          <td class="text-center">{{ row.frameSize }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-tabView>
    <p-tabPanel header="Traffic flow">
      <p-table [value]="trafficDisruptions" responsiveLayout="scroll">
        <ng-template #caption>
          <strong>Service Description</strong>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">Type</th>
            <th class="text-center">Current Utilization (%)</th>
            <th class="text-center">Throughput</th>
            <th class="text-center">Actual Transfer Speed</th>
            <th class="text-center">Line Speed</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td class="text-center">{{ row.type }}</td>
            <td class="text-center">{{ row.currentUtilization }}</td>
            <td class="text-center">{{ row.measuredThroughput }}</td>
            <td class="text-center">{{ row.transferSpeed }}</td>
            <td class="text-center">{{ row.measuredLineSpeed }}</td>
          </tr>
        </ng-template>
      </p-table>

      <p-table [value]="frameLosses">
        <ng-template #caption>
          <strong>Frame Loss</strong>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">Type</th>
            <th class="text-center">Byte Count</th>
            <th class="text-center">Measured Rate</th>
            <th class="text-center">Frame Rate</th>
            <th class="text-center">Frame Count</th>
            <th class="text-center">Frame Loss Rate (%)</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-frameLoss>
          <tr>
            <td class="text-center">{{ frameLoss.type }}</td>
            <td class="text-center">{{ frameLoss.byteCount }}</td>
            <td class="text-center">{{ frameLoss.measuredRate }}</td>
            <td class="text-center">{{ frameLoss.frameRate }}</td>
            <td class="text-center">{{ frameLoss.frameCount }}</td>
            <td class="text-center">{{ frameLoss.frameLossRate }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>

    <p-tabPanel header="Hourly report">
      <p-table [value]="frameLosses">
        <ng-template #caption>
          <strong>Frame Loss</strong>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">Type</th>
            <th class="text-center">Frame Rate</th>
            <th class="text-center">Total no.of bytes transmitted</th>
            <th class="text-center">Frames Transmitted</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-frameLoss>
          <tr>
            <td class="text-center">{{ frameLoss.type }}</td>
            <td class="text-center">{{ frameLoss.frameRate }}</td>
            <td class="text-center">{{ frameLoss.totalTransmittedBytes }}</td>
            <td class="text-center">{{ frameLoss.framesTransmitted }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>
