<div class="main-content">

  <p-table [value]="throughPuts">.
    <ng-template #caption>
      <div class="flex items-center justify-between padding-0">
        <strong>Throughput</strong>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns">
          <div class="text-center">{{ col.header }}</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-throughPut>
      <tr>
        <td *ngFor="let col of columns">
          <div class="text-center">
            {{ throughPut[col.field] }}
            {{ col.suffix ? col.suffix : '' }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table [value]="frameLosses">.
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <Strong>Frame Loss</Strong>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columnsFramesLoss">
          <div class="text-center">
            {{ col.header }}
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-frameLoss>
      <tr>
        <td *ngFor="let col of columnsFramesLoss">
          <div class="text-center">
            {{ frameLoss[col.field] }}
            {{ col.suffix }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table [value]="latencies">.
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <strong>Latency</strong>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columnsLatency">
          <div class="text-center">
            {{ col.header }}
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-latency>
      <tr>
        <td *ngFor="let col of columnsLatency">
          <div class="text-center">
            {{ latency[col.field] }}
            {{ col.suffix }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>