.main-content {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  padding: 1%;
}

// .base-form-content {
//   display: flex;
//   flex-direction: column;
//   gap: 1em;
//   flex-wrap: wrap;
//   align-items: baseline;
// }

.frmlsRtCol {
  text-align: center;
}

.stndEvntTable {
  width: 30%;
  //margin: 0 auto;
}

.heading {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.tags {
  display: flex;
  gap: 0.5em;
}

.header-section {
  display: flex;
  gap : 60%;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.form-input-fields{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap : 1em;
}

.text-center {
  text-align: center;
}
