.main-content {
  display: flex;
  padding : 20px;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  /*background: white;*/
  border-radius: 5px;
}

.second-pcard {
  width: 80vw;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
}

.cards-p {
  min-width: 200px;
}

.status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}
.connected {
  background-color: #4caf50; /* Green */
}
.disconnected {
  background-color: #f44336; /* Red */
}

/*

.base-form-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  align-items: baseline;
}

.dash-first-card {
  display: flex;
  gap: 1em;
}

.panel-section {
  width: 10vw;
  padding-top: 5px;
}

.form-input-fields {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1em;
}
*/
