<div class="main-content">
  <div class="cards-p">
    <p-card header="PORT B1">
      <table>
        <tr class="initial-tr">
          <td>LASER Status</td>
          <td class="initial-tr">
          </td>
        </tr>
        <tr class="initial-tr" *ngFor="let phyCol of physicalColumns">
          <td>{{ phyCol.header }}</td>
          <td>:</td>
          <td *ngIf="isNew">
            <p-skeleton width="5rem" styleClass="mb-2" />
          </td>
          <td *ngIf="!isNew" style="width: 5rem" pStyleClass="mb-2">
            {{ physicalColumns[phyCol.field] }}
          </td>
        </tr>
      </table>
    </p-card>
  </div>
  <div class="cards-p">
    <p-card header="PORT B1 (WWN)">
      <table>
        <tr class="initial-tr" *ngFor="let wwnCol of wwnColumns">
          <td>{{ wwnCol.header }}</td>
          <td>:</td>
          <td *ngIf="isNew">
            <p-skeleton width="5rem" styleClass="mb-2" />
          </td>
          <td *ngIf="isNew"  style="width: 5rem" pStyleClass="mb-2">
            {{ wwnData[wwnCol.field] }}
          </td>
        </tr>
      </table>
    </p-card>
  </div>
  <div class="cards-p">
    <p-card header="FC BERT Configuration">
      <table>
        <tr class="initial-tr" *ngFor="let col of deviceConfigColumns">
          <td>{{ col.header }}</td>
          <td>:</td>
          <td *ngIf="isNew">
            <p-skeleton width="5rem" styleClass="mb-2" />
          </td>
          <td *ngIf="!isNew">{{ deviceConfigData[col.field] }}</td>
        </tr>
        <tr class="initial-tr">
          <td>PSP Link</td>
          <td>:</td>
          <td *ngIf="isNew">
            <p-skeleton width="5rem" styleClass="mb-2" />
          </td>
          <td *ngIf="!isNew"  style="width: 5rem" pStyleClass="mb-2">{{ pspLink }}</td>
      </table>
    </p-card>
  </div>
</div>
