<div class="main-content">
  <div class="cards-p">
    <p-card header="PORT B1 2X ">
      <table>
        <tr class="initial-tr">
          <td>LASER Status:  </td>
          <td class="initial-tr"><label class="toggle-switch">
            <input type="checkbox" />
            <span class="slider"></span>
        </label></td>
        </tr>
        <tr class="initial-tr">
          <td>FC Rate set: </td>
          <td class="initial-td">{{fe_rate_set}}</td>
        </tr>
        <tr class="initial-tr">
          <td>SFP/SFP28 & Port:  </td>
          <td class="initial-td">{{fe_rate_set}}</td>
        </tr>
        <tr class="initial-tr">
          <td>Link Status:   </td>
          <td class="initial-td">{{fe_rate_set}}</td>
        </tr>
      </table>
    </p-card>
  </div>
  <div class="cards-p">
    <p-card header="PORT B1 2X (WWN)">
      <table>
        <tr class="initial-tr">
          <td>Source: </td>
          <td class="initial-td">? PRBS 7 /9/11/15/31/User</td>
        </tr>
        <tr class="initial-tr">
          <td>Destination: </td>
          <td class="initial-td">? PRBS 7 /9/11/15/31/User</td>
        </tr>
        <tr class="initial-tr">
          <td>Buffer to Buffer Flow Control:  </td>
          <td class="initial-td">? PRBS 7 /9/11/15/31/User</td>
        </tr>
        <tr class="initial-tr">
          <td>Available BB Credit: </td>
          <td class="initial-td">? PRBS 7 /9/11/15/31/User</td>
        </tr>
        <tr class="initial-tr">
          <td>Loging: </td>
          <td class="initial-td">? PRBS 7 /9/11/15/31/User</td>
        </tr>
        <tr class="initial-tr">
          <td>Discovered Topology: </td>
          <td class="initial-td">? PRBS 7 /9/11/15/31/User</td>
        </tr>
        <tr class="initial-tr">
          <td>Fabric Status: </td>
          <td class="initial-td">? PRBS 7 /9/11/15/31/User</td>
        </tr>
        <tr class="initial-tr">
          <td>Port Status: </td>
          <td class="initial-td">? PRBS 7 /9/11/15/31/User</td>
        </tr>
      </table>
    </p-card>
  </div>
  <div class="cards-p">
    <p-card header="FC BERT Configuration">
      <table>
        <tr class="initial-tr">
          <td>Pattern:</td>
          <td class="initial-td">? </td>
        </tr>
        <tr class="initial-tr">
          <td>Tx Pattern: </td>
          <td class="initial-td">? </td>
        </tr>
        <tr class="initial-tr">
          <td>Rx Pattern: </td>
          <td class="initial-td">? </td>
        </tr>
        <tr class="initial-tr">
          <td>FC Frame Size: </td>
          <td class="initial-td">? </td>
        </tr>
        <tr class="initial-tr">
          <td>Traffic Shaping: (Mbps)</td>
          <td class="initial-td">? </td>
        </tr>
      </table>
    </p-card>
  </div>
  <div class="cards-p">
    <p-card header="FCBERT Details">
      <table>
        <tr class="initial-tr">
          <td>Range: </td>
          <td class="initial-td">? </td>
        </tr>
        <tr class="initial-tr">
          <td>Latency: </td>
          <td class="initial-td">Enabled/Disabled </td>
        </tr>
        <tr class="initial-tr">
          <td>Current Tx rate: </td>
          <td class="initial-td">MBPS/GBPS </td>
        </tr>
      </table>
    </p-card>
  </div>

  <div class="second-pcard">
    <p-button label="START TEST" [raised]="true" severity="success" />
  </div>
</div>
