<div class="main-content">
  <div class="cards-p">
    <p-card header="PORT B1">
      <table>
        <tr class="initial-tr">
          <td>LASER Status</td>
          <td class="initial-tr">
            <ng-template>
              <span [ngClass]="{
              'status-indicator': true,
              'connected': isDeviceConnected,
              'disconnected': !isDeviceConnected
              }"></span>
              <span>{{ isDeviceConnected ? 'Connected' : 'Disconnected' }}</span>
            </ng-template>
          </td>
        </tr>
        <tr class="initial-tr" *ngFor="let col of portB1Columns">
          <td>{{ col.header }}</td>
          <td>:</td>
          <td>{{ portB1Data[col.field] }}</td>
        </tr>
      </table>
    </p-card>
  </div>
  <div class="cards-p">
    <p-card header="PORT B1 (WWN)">
      <table>
        <tr class="initial-tr" *ngFor="let col of wwnColumns">
          <td>{{ col.header }}</td>
          <td>:</td>
          <td>{{ wwnData[col.field] }}</td>
        </tr>
      </table>
    </p-card>
  </div>
  <div class="cards-p">
    <p-card header="FC BERT Configuration">
      <table>
        <tr class="initial-tr" *ngFor="let col of deviceConfigColumns">
          <td>{{ col.header }}</td>
          <td>:</td>
          <td>{{ deviceConfigData[col.field] }}</td>
        </tr>
      </table>
    </p-card>
  </div>
</div>
